#container{
    width: 640.4px;
    height: 640px;
    font-size: 0;
    display: inline-block;
    border: 2px solid black;
}
.tile{
    background-color: white;
    border: 1px solid orange;
    display: inline-block;
}